// bootstrap variables
@import "custom-bootstrap-variables";

// custom variables
$color-1: #45C0EC; // blue
$color-2: #979797; // gray
$color-3: #DCDCDC; // light gray
$color-4: #45C0EC; // light blue
