///////////////////////////////////////////////////////////////
//
//  Switches
//
//
//  Based on traditional checkboxes which are hidden and
//  replaced by nifty animated switches.
//
//
///////////////////////////////////////////////////////////////


@import "custom-bootstrap-variables";


// customisable variables
$color-1: #3AA3C8; // blue
$color-2: #979797; // gray
$color-3: #DCDCDC; // light gray
$color-4: #C1EFFF; // light blue

// proportions
$switch-width: 55px;
$switch-height: 30px;
$switch-padding: 2px;
$switch-knob-size: $switch-height - ($switch-padding * 2);

// font icon values
$swich-icon-on: "\e800";
$swich-icon-off: "\e801";

.switch {
    display: block;
    min-height: $switch-height;
    @extend .checkbox;
    padding: 5px 0;

    // general styles
    input[type="checkbox"],
    .switch__label::before,
    .switch__icon {
        position: absolute;
        top: 0;
        right: 0;
        width: $switch-width;
        height: $switch-height;
        border-radius: $switch-height / 2;
    }

    // make sure the real checkbox is on top of the other elements.
    input[type="checkbox"] {
        opacity: 0;
        z-index: 10;
        margin: 0;
        cursor: pointer;
    }

    // text label next to the switch
    .switch__label {
        display: block;
        position: relative;
        max-width: none;
        min-height: $switch-height;
        padding: 0;
        color: #888;
        @include user-select(none);
        @include transition(color 0.25s);
        @include translate3d(0,0,0);
        @include backface-visibility(hidden);
    }

    // checkmark icon
    .switch__label::before,
    .switch__label::after {
        content: "";
        position: absolute;
        @include transition(all 0.25s);
    }

    // switch background
    .switch__label::before {
        background: $color-3;
        will-change: transform;
    }

    // switch knob
    .switch__label::after {
        display: block;
        top: 50%;
        right: 0;
        width: $switch-knob-size;
        height: $switch-knob-size;
        @include translate(-($switch-width - $switch-knob-size) + $switch-padding, -50%);
        background: #fff;
        border-radius: 50%;
        border: 1px solid $color-2;
    }

    // on/off icon container
    .switch__icon {

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            @extend .icon;
            margin: 0 !important;
            @include transition(transform 0.2s, opacity 0.2s);
            font-size: 0.75em;
        }

        // on icon
        &::before {
            content: $swich-icon-on;
            opacity: 0;
            left: 15%;
            @include translate(75%,-50%);
            color: $color-1;
        }

        // off icon
        &::after {
            content: $swich-icon-off;
            right: 15%;
            @include translate(0,-50%);
            color: $color-2;
        }
    }


    ///////////////////////////////////////

    //  active state

    ///////////////////////////////////////

    input[type="checkbox"]:checked + .switch__label {
        color: black;

        // switch background
        &::before {
            background: $color-4;
        }

        // switch knob
        &::after {
            @include translate(-$switch-padding,-50%);
            border-color: rgba($color-1, 0.6);
        }

        // icon animations
        .switch__icon {

            // on icon
            &::before {
                opacity: 1;
                @include translate(0,-50%);
            }

            // off icon
            &::after {
                opacity: 0;
                @include translate(-75% ,-50%);
            }
        }
    }
}
