///////////////////////////////////////////////////////////////
//
//  Switches
//
//
//  Based on traditional checkboxes that are hidden and
//  replaced by nifty equivalents.
//
//
///////////////////////////////////////////////////////////////


@import "custom-bootstrap-variables";


// customisable variables
$color-1: #3AA3C8; // blue
$color-2: #979797; // gray
$color-3: #DCDCDC; // light gray
$color-4: #C1EFFF; // light blue

$custom-checkbox-size: 30px;
$switch-width: 55px;
$switch-height: 30px;

$switch-knob-size: $switch-height - 4;


.switch {
    display: block;
    min-height: $switch-height;
    @extend .checkbox;
    padding: 5px 0;

    // use the regular checkbox as an invisible hotspot for nifty switchbox.
    // make sure the real checkbox is on top of the other elements.
    input[type="checkbox"] {
        opacity: 0;
        z-index: 10;
        position: absolute;
        margin: 0;
        display: inline-block;
        width: $switch-width;
        height: $switch-height;
        right: 0;
        top: 0;
        cursor: pointer;
        border-radius: $switch-height / 2;
    }

    .switch__label {
        position: relative;
        max-width: none;
        min-height: $switch-height;
        display: block;
        padding: 0;
        // padding-left: $switch-width + 15;
        color: #888;
        transition: color 0.25s;
        user-select: none;
        backface-visibility: hidden;
        transform: translateZ(0);
    }

    // only show hand cursor on labels
    label.cb-label:hover {
        cursor: pointer;
    }

    // checkmark icon
    .switch__label::before,
    .switch__label::after {
        content: "";
        position: absolute;
        transition: all 0.25s;
    }

    // switch background
    .switch__label::before {
        display: inline-block;
        width: $switch-width;
        height: $switch-height;
        right: 0;
        top: 0;
        border-radius: $switch-height / 2;
        background: $color-3;
        will-change: transform;
    }

    // switch knob
    .switch__label::after {
        display: block;
        right: 0;
        top: 50%;
        transform: translateX(-($switch-width - $switch-knob-size) + 3px) translateY(-50%);
        width: $switch-knob-size;
        height: $switch-knob-size;
        background: #fff;
        border-radius: 50%;
        border: 1px solid $color-2;
    }

    // on/off icons
    .switch__icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: $switch-width;
        height: 100%;

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            @extend .icon;
            margin: 0;
            transition: transform 0.2s, opacity 0.2s;
        }

        &::before {
            content: "\e803";
            opacity: 0;
            right: 32px;
            transform: translateX(8px) translateY(-50%);
            font-size: 12px;
            color: $color-1;
        }

        &::after {
            content: "\e804";
            right: 5px;
            transform: translateX(0) translateY(-50%);
            font-size: 16px;
            color: $color-2;
        }
    }


    ///////////////////////////////////////

    //  active state

    ///////////////////////////////////////

    input[type="checkbox"]:checked + .switch__label {
        color: black;

        // background
        &::before {
            background: $color-4;
        }

        // knob
        &::after {
            transform: translateX(-3px) translateY(-50%);
            border-color: rgba($color-1, 0.6);
        }

        // icon animations
        .switch__icon {

            // check icon
            &::before {
                opacity: 1;
                transform: translateX(0) translateY(-50%);
            }

            &::after {
                opacity: 0;
                transform: translateX(-8px) translateY(-50%);
            }

        }
    }
}
