<footer role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col">
						<h4>Product</h4>
						<ul>
							<li><a href="{{ site.baseurl }}/zero/">Printix Zero</a></li>
							<li><a href="{{ site.baseurl }}/freedom/">Printix Freedom</a></li>
							<li><a href="https://support.printix.net" target=_blank>Help Center</a></li>
						</ul>
					</div>
					<div class="col">
						<h4>Other</h4>
						<ul>
							<li><a href="/pricing">Pricing</a></li>
							<li><a href="/about">About us</a></li>
							<li><a href="/partners">Partners</a></li>
							<li><a href="/email-signup">Email signup</a></li>
							<li><a href="/blog">Blog</a></li>
						</ul>
					</div>
					<div class="col">
						<h4>Legal</h4>
						<ul>
							<li><a href="{{ site.baseurl }}/terms/">Terms of service</a></li>
							<li><a href="{{ site.baseurl }}/privacy/">Privacy policy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<ul class="social-links">
					<li>
						<a href="//facebook.com/printix.net" target="_blank">
							<svg class="icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
						</a>
					</li>
					<li>
						<a href="//twitter.com/printixnet" target="_blank">
							<svg class="icon icon-twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
						</a>
					</li>
					<li>
						<a href="//plus.google.com/u/0/+PrintixNet-print-management" target="_blank">
							<svg class="icon icon-google-plus"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google-plus"></use></svg>
						</a>
					</li>
					<li>
						<a href="//linkedin.com/company/printix-net" target="_blank">
							<svg class="icon icon-linkedin"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-contact">
		<div class="container">
			<address>
		    	Printix.net ApS - Hoerkaer 20, 2730 Herlev, Denmark <span class="separator"></span> +45 40 15 93 93  <span class="separator"></span> © Printix.net 2016 <span class="separator"></span> <a href="mailto:info@printix.net">info@printix.net</a>
			</address>

		</div>
	</div>
</footer>
